<div>
    <span style="margin-right: 100px">
        <strong>{{{i18n "lbl-user"}}}:</strong>
    </span>
    <span id="currentUser"></span>&nbsp;&lt;<span id="currentUserEmail"></span>&gt;
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var currentUser = poc.getCurrentUser()
        $('#currentUser').text(currentUser.name);
        $('#currentUserEmail').text(currentUser.email);
    });
</script>