<div>
    <div style="width: 150px; display:inline-block;">
        <strong>{{{i18n "lbl-user"}}}:</strong>
    </div>
    <span id="currentUser"></span>&nbsp;&lt;<span id="currentUserEmail"></span>&gt;
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var currentUser = poc.getCurrentUser()
        $('#currentUser').text(currentUser.name);
        $('#currentUserEmail').text(currentUser.email);
    });
</script>