<div>
    <span style="margin-right: 100px">
        <strong>{{{i18n "lbl-user"}}}:</strong>
    </span>
    <span id="currentUser"></span>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#currentUser').text(poc.getCurrentUser().name);
    });
</script>